<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>비밀번호 수정</title>
</head>

<body>
<div class="p-3 bg-body-secondary">
    <p class="display-6 text-center m-3">
        비밀번호 수정
    </p>
</div>

<div class="text-center container">

    <form id="profileForm" name="infobox">
        <table>
            <tr>
                <th class="p-3">현재 비밀번호</th>
                <td>
                    <input type="text" id="password" class="inputbox form-control text-center"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th class="p-3">새 비밀번호</th>
                <td>
                    <input type="text" id="new-password" class="inputbox form-control text-center"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </td>
            </tr>

        </table>
        <table>
            <tr>
                <th class="p-3">새 비밀번호 확인</th>
                <td>
                    <input type="text" id="check-password" class="inputbox form-control text-center"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </td>
            </tr>

        </table>

    </form>
    <div style="text-align: center;">
        <button type="button" id="btn_modify" class="btn btn-primary btn m-2">SAVE</button>
        <button type="button" id="btn_previous" class="btn btn-primary btn m-2">CANCEL</button>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $('#btn_previous').click(function () {
        window.location.href = "/api/profile";
    });

    // $(document).on('click', '#btn_modify', function(e) {
    //     if (confirm("정말 수정하시겠습니까 ?") == true) {
    //
    //         //데이터를 담아내는 부분
    //         const password = $("#password").val();
    //         const newPassword = $("#new-password").val();
    //         const checkPassword = $("#check-password").val();
    //
    //         if(newPassword != checkPassword) {
    //             alert("새 비밀번호가 일치하지 않습니다.")
    //             return false;
    //         }
    //         $.ajax({
    //             url: "/profile/password",
    //             type: "PUT",
    //             data: JSON.stringify({
    //                 "password": password,
    //                 "newPassword": newPassword,
    //                 "checkPassword": checkPassword,
    //             }),


</script>