<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">로그인</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">회원가입</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="loginusername" class="label">Username</label>
                    <input id="loginusername" type="text" class="input">
                </div>
                <div class="group">
                    <label for="loginpassword" class="label">Password</label>
                    <input id="loginpassword" type="password" class="input" data-type="password">
                </div>

                <div class="group">
                    <button id="login-submit" onclick="login()">login</button>
                </div>
                <div class="hr"></div>

            </div>
            <div class="sign-up-htm">
                <div class="group">
                    <label for="signupusername" class="label">Username</label>
                    <input id="signupusername" type="text" name="username" class="input">
                </div>
                <div class="group">
                    <label for="signuppassword" class="label">Password</label>
                    <input id="signuppassword" type="password" name="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="signupnickname" class="label">Nickname</label>
                    <input id="signupnickname" type="text" name="nickname" class="input">
                </div>

                <div class="group">
                    <input id="admin-check" type="checkbox" name="admin" onclick="toggleAdminSection()"
                           style="margin-top: 40px;">관리자
                    <input id="admin-token" type="password" name="adminToken" placeholder="admin password"
                           class="login-input-box" style="display:none; width:380px; height:45px; border-radius:20px;">
                </div>
                <div class="group">
                    <button id="login-id-submit" onclick="signup()">Sign Up</button>
                </div>

                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">이미 회원이신가요?</label>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    const host = 'http://' + window.location.host;
    function getJwtFromCookie() {
        const cookieName = 'Authorization'; // JWT가 저장된 쿠키의 이름
        const cookies = document.cookie.split(';');

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();

            if (cookie.startsWith(`${cookieName}=`)) {
                const jwtCookie = cookie.substring(cookieName.length + 1);
                return jwtCookie;
            }
        }

        return null; // JWT가 존재하지 않는 경우 null 반환
    }
    function toggleAdminSection() {

        var checkBox = document.getElementById("admin-check");
        var box = document.getElementById("admin-token");

        if (checkBox.checked) {
            box.style.display = "block";
        } else {
            box.style.display = "none";
        }
    }

    function signup() {
        var username = document.getElementById('signupusername').value;
        var password = document.getElementById('signuppassword').value;
        var nickname = document.getElementById('signupnickname').value;
        var adminToken = document.getElementById('admin-token').value;
        var isAdmin = document.getElementById('admin-check').checked;

        console.log(username, password, nickname, adminToken, isAdmin);

        if (username === '' || password === '' || nickname === '') {
            alert('회원가입 정보를 모두 입력해주세요.');
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/api/auth/signup',
            data: JSON.stringify({
                username: username,
                password: password,
                nickname: nickname,
                adminToken: adminToken,
                admin: isAdmin
            }),
            contentType: 'application/json',

            success: function (response) {
                alert('회원가입이 성공적으로 완료되었습니다.');
                window.location.href = host + '/api/auth/login-page';
            },
            error: function (xhr) {
                if(xhr.status == 400) {
                    alert('중복된 username 입니다.');
                }else {
                    alert('회원가입에 실패하였습니다. 다시 시도해주세요.');
                }


            }

        });
    }

    function login() {
        var username = document.getElementById('loginusername').value;
        var password = document.getElementById('loginpassword').value;
        const jwtCookie = getJwtFromCookie();

        console.log(username, password);

        if (username === '' || password === '') {
            alert('정보를 모두 입력해주세요.');
            return;
        }

        $.ajax({
            type: "POST",
            url: `/api/auth/login`,
            contentType: "application/json",
            data: JSON.stringify({username: username, password: password}),
        })
            .done(function (res, status, xhr) {
                window.location.href = host;
            })
            .fail(function (jqXHR, textStatus) {
                alert("로그인 실패")
            });
    }
</script>

</html>

